<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.MainClass"/>
    <!--  <class name="pages.LastPage"/> -->
    <!--  <class name="pages.LoginPage"/>-->
    <!--  <class name="pages.CheckOut"/>-->
    <!--  <class name="pages.AddToCartPage"/>-->
    <!--  <class name="pages.PersonalInfo"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
